[Desktop Entry]
Name=Venera Netmatic
GenericName=Venera Netmatic
Comment=Unofficial modified version of Venera
Terminal=false
Type=Application
Categories=Utility
Keywords=Flutter;comic;images;
Icon=venera
